#default index page
DirectoryIndex public/index.php

Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|public|css|js|png|jpg|gif|robots\.txt)
RewriteRule ^(.*)$ public/index.php [NC,L]


#RewriteRule ^(.*)$ public/index.php/params=$1 [L,QSA]
#ErrorDocument 404 public/index.php