@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  --transition: 0.2;
  --bg-one: hsl(280, 60%, 5%);
  --bg-two: hsl(280, 90%, 15%);
  --stop: 40;
  --angle: 45;
  --border-width: 5;
  --padlock-size: 300;
  --border-radius: 6;
}
body {
  background-color: #303030;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
* {
  font-family: "Roboto Mono", monospace;
  color: white;
}
footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  align-content: center;
}
footer h2 {
  font-size: 16px;
  text-shadow: 2px 2px black;
}
main {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}
input.nameInput,
input.passwordInput {
  box-sizing: border-box;
  margin: 0 0 0 0;
  margin-bottom: 1.5rem;
  color: black;
  padding: 10px 10px;
  border-style: solid;
  border-color: #303030;
  border-radius: 15px;
  text-align: left;
  width: 100%;
}

button.buttonInput {
  width: 100%;
  background: #8c00ff;
  color: white;
  padding: 10px 10px;
  border-radius: 15px;
  border-color: #8c00ff;
  margin-bottom: 1rem;
}

h1 {
  text-shadow: 2px 2px black;
}
