<?php

//DB Variables
$host = "";
$port = "";
$dbname = "";
$username = "";
$password = "";

//Mail Variables
$smtphost = "";
$emailport = "";
$emailusername = "";
$emailpassword = "";

// Start a Session
if (!session_id()) @session_start();

// STARTS A CONNECTION
$connection = new PDO("mysql:host=$host;port=$port;dbname=$dbname", "$username", "$password");
$connection->setAttribute(PDO::ATTR_EMULATE_PREPARES, false);

//Load Composer's autoloader
if (is_dir('../../vendor/')) {
  require '../../vendor/autoload.php';
} else {
  require '../vendor/autoload.php';
}

// DEFINES MAILER CLASS
use PHPMailer\PHPMailer\PHPMailer;
use PHPMailer\PHPMailer\SMTP;

//Create an instance; passing `true` enables exceptions
$mail = new PHPMailer(true);
//Server settings
$mail->SMTPDebug = SMTP::DEBUG_OFF;                      //Enable verbose debug output
$mail->isSMTP();                                            //Send using SMTP
$mail->Host       = $smtphost;                     //Set the SMTP server to send through
$mail->SMTPAuth   = true;                                   //Enable SMTP authentication
$mail->Username   = $emailusername;                     //SMTP username
$mail->Password   = $emailpassword;                               //SMTP password
$mail->SMTPSecure = PHPMailer::ENCRYPTION_SMTPS;            //Enable implicit TLS encryption
$mail->Port       = $emailport;                                    //TCP port to connect to; use 587 if you have set `SMTPSecure = PHPMailer::ENCRYPTION_STARTTLS`
$mail->setFrom($emailusername, 'Zmaturuj.me');


// Instantiate the class
$msg = new \Plasticbrain\FlashMessages\FlashMessages();

// THIS IS OUR OWN ROUTER, ROUTER CLASS 
// DIDNT WORK SO I HAD TO DO THIS SIMPLE ROUTING VARIABLE
$path = explode("/zmaturuj.me", $_SERVER['REQUEST_URI']);
$path = array_splice($path, 1);
$path = implode("", $path);

// THIS IS PREDEFINED URL OF THE WEBSITE, IF YOU HAVE WEBSITE ON ROOT, USE SLASH
$url = "/zmaturuj.me";
